{{> header }}
{{> headMed }}

<style type="text/css">
    body,
    html {

        height: 100%;
        background-repeat: no-repeat;
        background: url(assets/img/fondo3.jpg) no-repeat center center fixed;
        background-size: 100% 100%;
        opacity: 5;
        filter: alpha(opacity=1);
    }
</style>

<body>

    <div class="section-title" style="position: absolute; top: 140px; left:25px;">
        <h1><b>Enfermedad</b> </1>
    </div>

    {{!-- <table class="egt" border="1" style="position: absolute; top: 200px; left:25px;">
        <thead>
            <tr>
                <th>Tabla enfermedad</th>
                <th>T</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table> --}}


    <div style="position: absolute; top: 200px; left:25px;">
        <select id="sintomas" name="transporte" size="2" style="
            width : 600px;
            height : 300px;
            overflow : auto;">

        </select>
    </div>


    <form id="create-form2">
        {{!-- <div class="col-md-6 mb-3" > --}}
        <label for="enfermedad">
            <h1 id="create-form" style="position: absolute; top: 140px; left:900px;"><b>Ingrese enfermedad</b></h1>
        </label>

        <input style="position: absolute; top: 200px; left:950px;" type="text" class="form-control-lg" id="create-input"
            placeholder="" value="" required></input>

        <div class="invalid-feedback">
            Valid last name is required.
        </div>
        {{!-- </div> --}}

        <div class="text-center">
            <button style="position: absolute; top: 270px; left:1030px;"
                class="btn btn-lg btn-primary btn-lg" type="submit">Enviar</button>
        </div>
    </form>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script>
        console.log('Hola como estas')
        $(function () {
            $.ajax({
                url: '/enfermedades',
                contentType: 'application/json',
                success: (response) => {
                    let cont_sintomas = $('#sintomas');
                    response.enfermedades.forEach((enfer) => {
                        cont_sintomas.append('<option value="' + enfer._id + '" selected="selected" >' + enfer.descripcion + '</option>');
                    });
                }
            });
            $('#sintomas').on('click', (event) => {
                event.preventDefault();
                let selecionado = $("#sintomas option:selected").text();
                let id_seleccionado = $('#sintomas').val();
                //<a href="/sintoma?idE=' + enfer._id + '">Seleccionar</a
                //$('#seleccionados').append('<option value="' + id_seleccionado + '" selected="selected">' + selecionado + '</option>');
                 window.location = "/sintoma?idE="+id_seleccionado+"";
            });
            $('#create-form2').on('submit', function (event) {
                event.preventDefault();
                var crear = $('#create-input');

                $.ajax({
                    url: '/enfermedades',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ descripcion: crear.val() }),
                    success: function (response) {
                        //console.log(response);
                        crear.val('');
                        //--
                        $.ajax({
                            url: '/enfermedades',
                            contentType: 'application/json',
                            success: (response) => {
                                let cont_sintomas = $('#sintomas');
                                let elemento = $('#sintomas option');
                                $.each(elemento, (i, v) => {
                                    let value = v.value;
                                    //console.log("El value_->", value);
                                    $("#sintomas option[value=" + value + "]").remove();
                                });
                                response.enfermedades.forEach((enfer) => {
                                    cont_sintomas.append('<option value="' + enfer._id + '" selected="selected" >' + enfer.descripcion + '</option>');
                                });
                            }
                        });
                        //--
                    }
                });
            });

        });
    </script>
</body>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{{> footer }}