<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="#" method="post">
        <label for="name">Enfermedad</label>
        <input type="text" id="enfermedades" name="descripcion">
        <button type="submit">Envíe su mensaje</button>
    </form>
    
</body>
</html>