{{> header }}
{{> head }}
<br><br><br><br><br><br><br>
<center>
    <h1>DATOS MÉDICOS</h1>
</center>
<hr>
<h3 style="position: absolute; top: 255px; right:300px;">Buscar:</h3>
<form style="position: absolute; top: 260px; right:200px;">

    <select name="genero">
        <option>Médico</option>
        <option>Paciente</option>

    </select>
</form>
<br><br><br>
<table class="egt" border="3" style="width:100%" "position: absolute; top: 300px; left:20px;">

    <tr>

        <th>Sintoma</th>
        <th>Enfermedad</th>
        <th>Tratamiento</th>
        <th>Nombre</th>

    </tr>

    <tr>

        <td>Eritema o rojez, Exudado o aparición de secreción sobre los eccemas, Descamación, Costras, Prurito o picor
            muy intenso.</td>
        <td>Dermatitis atópica</td>
        <td>Un tratamiento proactivo o de fase de mantenimiento usamos inhibidores de la calcineurina tacrolimus y
            pimecrolimus. En aquellos pacientes con más de un brote al mes que le obligue al uso de corticoides más de 2
            semanas al mes.</td>
        <td>Omar</td>
    </tr>
</table>
<br><br><br><br><br><br><br><br><br>
<center>
    <button type="button" class="btn btn-primary">Generar Reporte</button>
</center>
<br><br>
{{> footer }}