{{> header }}
{{> head }}


<br><br><br><br><br><br><br>
<center>
    <h1>TRATAMIENTO</h1>
</center>
<hr>
<br><br><br>

<h1 style="position: absolute; top: 250px; left:25px;">Sintomas</h1>

<div style="position: absolute; top: 325px; left:25px;">
    <select name="transporte" size="2" style="
            width : 300px;
            height : 300px;
            overflow : auto;">
        <option>toz</option>
        <option>dolor muscular</option>
        <option>salpullido</option>
        <option>dolor en la columna</option>
        <option>malestar</option>
        <option>fiebre</option>
        <option>toz</option>
        <option>dolor muscular</option>
        <option>salpullido</option>
        <option>dolor en la columna</option>
        <option>malestar</option>
        <option>fiebre</option>
        <option>dolor de estomago</option>
        <option>ormigueo de manos</option>
        <option> dormecimiento de manos</option>
        <option>gripe</option>
        <option>dolor de cabeza</option>
        <option>ojos rojos</option>

    </select>

</div>

<div style="position: absolute; top: 250px; right:25px;">
    <h1>Informacion recomendada</h1>
    <textarea name="comentarios" rows="14" cols="120"></textarea>

</div>
<h1 style="position: absolute; top: 670px; left:25px;">Sintomas elegidos</h1>
<div style="position: absolute; top: 725px; left:25px;">
    <select name="transporte" size="2" style="
            width : 500px;
            height : 80px;
            overflow : auto;">
    </select>
    <br><br><br>
    <center>
        <button type="button" class="btn btn-primary">Consultar</button>
        <button type="button" class="btn btn-primary">Salir</button>
    </center>
</div>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


{{> footer }}