* {
    margin: 0;
    padding: 0;
}

body {
    font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: medium
}

#page-wrap {
    margin: 50px;
}

p {
    margin: 20px 0;
}


/* 
	Generic Styling, for Desktops/Laptops 
	*/

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    margin: 50px auto;
    border-radius: .25rem;
}


/* Zebra striping */

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 4px;
    border: 1px solid #ccc;
    text-align: left;
}

.table-fixed tbody {
    height: 200px;
    overflow: auto;
    width: 92.5%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed thead>tr>th {
    float: left;
    border-bottom-width: 0;
}